@font-face {
    font-family: 'Font';
    src: url('/Font.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Font';
    color: white;
    background-color: rgb(14, 14, 14);
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    padding: 10px;
}

.navbarTitle{
    font-size: 30px;
    color: white;
}

.navbarLinks{
    font-size: 20px;
    margin-top: 5px;
    margin-right: 15px;
    color: white;
    float: right;
}

.text{
  margin-top: 50px;
}

.button-container{
    width: 290px;
    height: 450px;
    margin-top: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-family: 'Font';
    color: white;
    background-color: rgb(18, 18, 18);
}

.Results{
    width: 53vw;
    height: 50px;
    border-radius: 15px;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: rgb(20, 20, 20);
    font-family: "Font";
    font-size: 20px;
    color: white;
    text-align: center;
}

  .Buttonss{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 10px;
  }
  .button-container button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  button{
    width: 50px;
    height: 70px;
    background-color: rgb(23, 23, 23);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: "Font";
  }
  .Clear, .Equal {
    width: 100px;
    margin-left: 20px;
  }
  #expression {
    font-size: 20px;
    margin-bottom: 10px;
    width: 220px;
    padding: 5px;
  }
  .expression{
    border: none;
    outline: none;
    background-color: rgb(20, 20, 20);
    width: 200px;
    height: 60px;
    border-radius: 20px;
    font-family: "Font";
    color: white;
    margin-top: 40px;
  }