<<<<<<< HEAD
@font-face {
    font-family: 'Font';
    src: url('/Font.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Font';
    color: white;
    background-color: rgb(14, 14, 14);
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    padding: 10px;
}

.navbarTitle{
    font-size: 30px;
    color: white;
}

.navbarLinks{
    font-size: 20px;
    margin-top: 5px;
    margin-right: 15px;
    color: white;
    float: right;
}

.InproperConverter, .MixedConverter {
    width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    background: linear-gradient(to right, rgb(12, 12, 12), rgb(25, 25, 25));
    margin-top: 50px;
    outline: auto;
    margin-left: 20%;
}

.Container{
    display: flex;
}

.fraction-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.fraction-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.Number {
    width: 90px;
    height: 120px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Font';
    font-size: 40px;
    text-align: center;
}

.fractionNumerator, .fractionDenomenator {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Font';
    font-size: 30px;
    text-align: center;
}

.line {
    width: 70px;
    height: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.submitButton, .Inproperresult, .Mixedresult {
    width: 170px;
    height: 70px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Font';
    font-size: 30px;
    text-align: center;
}

.SectionTitle {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width: 1400px) {
    .Container{
        flex-direction: row;
    }
    
}

@media (max-width: 600px) {
    .InproperConverter, .MixedConverter {
        width: 80vw;
    }

    .Container{
        flex-direction: column;
    }

    .MixedConverter, .InproperConverter{
        margin-left: 8%;
    }
}

@media (max-width: 1400px) {
    
    .fraction-group {
        flex-direction: column;
    }

    .fraction-inputs {
        margin-left: 0;
    }

    .button-group {
        flex-direction: column;
    }
=======
@font-face {
    font-family: 'Font';
    src: url('/Font.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Font';
    color: white;
    background-color: rgb(14, 14, 14);
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    padding: 10px;
}
.navbarTitle{
    font-size: 30px;
    color: white;
}
.navbarLinks{
    font-size: 20px;
    margin-top: 5px;
    color: white;
    float: right;
}
.Converter {
    width: 350px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.Number {
    width: 90px;
    height: 120px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Font';
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px; /* Adds space between the number and the fraction inputs */
}

.fractionNumerator, .fractionDenomenator {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Font';
    font-size: 30px;
    text-align: center;
}

.line {
    width: 70px;
    height: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitButton, .result{
    width: 170px;
    height: 70px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Font';
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
.SectionTitle{
    font-size: 32px;
    margin-bottom: 30px;
>>>>>>> 37afe0b4693b45d126e7ad12a5b8e7254bf44622
}