@font-face {
    font-family: 'Font';
    src: url('/Font.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Font';
    color: white;
    background-color: rgb(14, 14, 14);
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    padding: 10px;
}
.navbarTitle{
    font-size: 30px;
    color: white;
}
.navbarLinks{
    font-size: 20px;
    margin-top: 5px;
    color: white;
    float: right;
}

.Container{
    display: flex;
    flex-direction: grid;
}

.Box{
    text-align: center;
    width: 250px;
    height: 40px;
    outline: auto;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 25px;
    font-family: "Font";
}

.BoxTitle {
    color: white;
    outline: none;
    border: none;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .navbarLinks{
        display: none;
    }
}

@media (max-width: 800px) {
    .Container {
        display: block;
    }
}